<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
     {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'user_dash/css/main.css' %}" media="screen" title="no title" charset="utf-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>



    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
    
                <a class="navbar-brand" href="#">YourSpace</a>
            </div>
    
    
            <ul class="nav navbar-nav">
    
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/users/edit">Profile</a>
                </li>
    
            </ul>
    
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Log off</a>
                </li>
            </ul>
    
        </div>
    </nav>






    <div class="container">
        
        <h1>Add a new User</h1>
        <button>
            <a href="/dashboard">Return to Dashboard</a>
        </button>
        {% if messages %} {% for x in messages %}

        <p>{{x}}</p>
        {% endfor %} {% endif %}
        <form action='/create' method='post'>
            {% csrf_token %}
            <input type="hidden" name="admin" value="admin">
            <p></p>
            <h4>Email Address:</h4>
            <input type='email' name='email'>

            <h4>First Name:</h4>
            <input type='text' name='fname'>

            <h4>Last Name:</h4>
            <input type='text' name='lname'>

            <h4>Password:</h4>
            <input type="password" name="password">


            <h4>Password Confirmation:</h4>
            <input type="password" name="password2">
            <br>
            <br>

            <input type='submit' value='Create'>
        </form>



    </div>
</body>

</html>